
@font-face {
    font-family: 'OAGothic-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/OAGothic-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'OAGothic-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/OAGothic-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
ul, li {
    list-style-type : none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
#header {
    background: white;
    width: 100%;
}
.header_inner {
    position: relative;
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
}
.logo {
    max-width: 70px;
}
.header_inner nav {
    width: 80%;
    margin: 0 auto;
}
.header_inner nav ul{
    display: flex;  
    justify-content: space-around;
    max-width: 625px;
    align-items: center;
    margin: 22px auto;
}
.home {
    color: #6DA0FF;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    position: relative;
    margin-bottom: 1px;
}
.home img {
    width: 24px;
    vertical-align: bottom;
    position: relative;
}
nav > ul > li:nth-child(n+2) {
    color: #222;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
#page1 {
    background-color: white;
    overflow-x: hidden;
}
.pg1-background {
    background: #5A93FD;
    width: 95%;
    margin: 0 auto;
}
.pg1-div {
    position: relative;
}
.main-photo-div {
   display: flex;
   justify-content: center;
   align-items: center;
}
.main_photo {
    max-width: 650px;
    margin: 200px auto;
}
.eclipse1 {
    width: 240px;
    position: absolute;
    right: 150px;
    top: -30px;
    margin-right: auto;
}
.eclipse2 {
    width: 390px;
    position: absolute;
    left: 140px; 
    bottom: -90px;
}
.middle-div {
    position: relative;
    top: -120px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}
.photo1 {
    width: 700px;
}
.water-div {
    margin-left: 20px;
    margin-top: 180px;
}
.strong {
    color: #222;
    font-family: 'OAGothic-ExtraBold';
    font-size: 60px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.photo1_detail {
     width: 550px;
    color: #222;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px; /* 188.889% */
    letter-spacing: -0.36px;
    text-transform: uppercase;
}
#page1 .btn {
    margin-top: 20px;
}
.btn {
    border-radius: 40px;
    background: #1770E2;
    padding: 10px 30px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    border: none;
}
button img {
    width: 24px;
    vertical-align: middle;
    position: relative; 
    margin-bottom: 3px;
}
#page2 .btn2 {
    float: right;
}
.btn2 {
    border-radius: 40px;
    background: #51B693;
    padding: 10px 30px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    border: none;
}
.path1 {
    background:#E7EEF1;
}
#page2 {
    background: #E7EEF1;
    margin-top: -10px;
    box-sizing: border-box;
    padding: 120px 0;
}
.path1 {
    width: 100%;
}
.photo2-container, .photo3-container, .photo4-container, .contact-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}
.photo2_div {
    width: 430px;
    margin-right: 40px;
}
.photo2 {
    width: 800px;
}
.title {
    color: #111;
    font-family: 'OAGothic-Medium';
    font-size: 48px;
    font-style: normal;
    letter-spacing: -2.4px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.photo2_div>title {
    margin-bottom: 25px !important;
}
.photo2_detail {
    color: #111;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px; /* 188.889% */
    letter-spacing: -0.36px;
    text-transform: uppercase;
}
.list {
    margin: 30px 0;
}
.list li {
    display: flex;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    line-height: 40px; /* 200% */
    letter-spacing: -0.4px;
    text-transform: uppercase;
    padding: 10px;
}
.brown {
    color: white;
    width: 160px;
    height: 40px;
    padding: 4px 0px;
    text-align: center;
    font-weight: 700;
    border-radius: 30px;
    background: #555;
    margin-right: 10px;
}
.eco-div {
    display: flex;
}
.eco {
    width: 253px;
}
#page3 {
    background: #E7EEF1;
}
.photo3 {
    width: 600px;
}
#page3 .title, #page4 .title {
    margin: 20px 0;
}
.photo3_div {
    width: 600px;
    margin-left: 70px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
}
.photo3_detail {
    width: 600px;
    color: #111;
    text-align: right;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px; 
    letter-spacing: -0.36px;
    text-transform: uppercase;
}
.clean-div {
    display: flex;
}
.brown2 {
    color: white;
    width: 210px;
    padding: 4px 0px;
    border-radius: 30px;
    background: #555;
    text-align: center;
    margin-right: 10px;
    height: 40px;
}
.clean {
    width: 340px;
}
#page4 {
    background: #E7EEF1;
    box-sizing: border-box;
    padding: 120px 0;
}
.photo4_div {
    width: 600px;
    margin-right: 70px;
}
.photo4 {
    width: 600px;
}
.photo4_detail {
    color: #111;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    line-height: 34px; /* 188.889% */
    letter-spacing: -0.36px;
    text-transform: uppercase;
}
.rent {
    color: #555;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: -0.4px;
    text-transform: uppercase;
    margin: 30px 0;
}
.rent span {
    padding: 5px 10px;
    border: 1px solid #C2C7D0;
    margin-right: 5px;
}
#contact {
    background: url("../img/back.png");
    background-size: cover !important;
    background-position: top center !important;
    position: relative;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 120px 0;
    margin: -2px;
}
.contact_div {
    width: 50%;
    font-family: Pretendard;
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-top: 40px;
}
.contact_div p{
    color: #CDF;
    font-family: 'OAGothic-ExtraBold';
    font-size: 48px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}
.contact_div p img {
    vertical-align: bottom;
    width: 60px;
    position: relative;
}
.logo2_div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.logo2 {
    width: 200px;
}
.contact-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.label {
    width: 10%;
    /* color: #FFF; */
    line-height: normal;
    letter-spacing: -0.32px;
    text-transform: uppercase;
}
.labels {
    width: 15%;
    text-align: center;
}
.input {
    width: 30%;
}
.input2 {
    width: 40%;
}
.input-box {
    max-width: 190px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 15px 10px;
    border: 1px solid #DDD;
    background: #FFF;
    color: #BBB;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
    text-transform: uppercase;
}
.input-box2 {
    max-width: 232px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 15px 10px;
    border: 1px solid #DDD;
    background: #FFF;
    color: #BBB;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
    text-transform: uppercase;
}
.input-box3 {
    max-width: 520px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 15px 10px;
    border: 1px solid #DDD;
    background: #FFF;
    color: #BBB;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
    text-transform: uppercase;
}
.inputs {
    width: 90%; 
}
.inputs textarea {
    display: flex;
    width: 499px;
    padding: 15px 10px;
    align-items: center;
    resize: none;
    border: 1px solid #DDD;
    background: #FFF;
}
.agree-wrap {
    width: 92%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #DDD;
}
.square {
    max-width: 500px;
    width: 30px;
    height: 30px;
    border: 1px solid #DDD;
    appearance: none;
    position: relative;
}
label {
    max-width: 500px;
    vertical-align: middle;
}
.agree-wrap  a{
    color: white;
}
#contact .btn {
    float: right;
    margin-right: 50px;
}
#footer {
    box-sizing: border-box;
    border-top: 1px solid #ECECEC;
    background: #E7EBF1;
    display: flex;
    padding: 20px 0px;
    flex-direction: column;
    align-items: center;
}
.footer-inner {
    margin: 0 auto;
    width: 90%;
    max-width: 1280px;
}
.site-map a{
    position: relative;
    margin-right: 10px;
    font-size: 16px;
}
.site-map a:first-child {
    color: #000;
    font-weight: 700;
}
.site-map a:last-child {
    color: #555;
    font-weight: 400;
}
#footer .wrap01, .wrap02 {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
}
#footer .wrap01 li, .wrap02 li{
    margin-right: 20px;
}
.footer-div01 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-div02 {
    margin-top: 30px;
    font-size: 14px;
    color: #555;
}
.black {
    color: #333;
}
.right {
    display: flex;
}
.right a{
    margin-right: 10px;
}
.right img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
@media (max-width: 1540px) {
    .eclipse1 {
        right: 20px;
    }
    .eclipse2 {
        left: -50px;
    }
    
}