
#page1 {
    background-color: white;
    overflow-x: hidden;
}
.pg1-background {
    background: #5A93FD;
    width: 95%;
    margin: 0 auto;
}
.pg1-div {
    position: relative;
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}
.main-photo-div {
   display: flex;
   justify-content: center;
   align-items: center;
}
.main_photo {
    max-width: 650px;
    width: 95%;
    margin: 200px auto;
    z-index: 10;
}
.eclipse1 {
    max-width: 240px;
    width: 85%;
    position: absolute;
    right: -120px;
    top: 50px;
    margin-right: auto;
}
.eclipse2 {
    max-width: 390px;
    width: 85%;
    position: absolute;
    left: -200px; 
    bottom: -90px;
}
.middle-div {
    position: relative;
    top: -90px;
    display: flex;
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
    gap: 5%;
}
.photo1-div {
    width: 50%;
}
.photo1 {
    width: 100%;
    box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.15);
}
.water-div {
    width: 50%;
    margin-top: 220px;
}
.strong {
    color: #222;
    font-family: 'OAGothic-ExtraBold';
    font-size: 60px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.photo1_detail {
    color: #222;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px; /* 188.889% */
    letter-spacing: -0.36px;
    text-transform: uppercase;
    word-break: keep-all;
}
#page1 .btn {
    margin-top: 20px;
}
.btn {
    box-sizing: border-box;
    border-radius: 40px;
    background: #1770E2;
    padding: 10px 30px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    border: none;
}
button img {
    width: 24px;
    vertical-align: middle;
    position: relative; 
    margin-bottom: 3px;
}
#page2 .btn2 {
    display: block;
    margin-left: auto;
}
.btn2 {
    box-sizing: border-box;
    border-radius: 40px;
    background: #51B693;
    padding: 10px 30px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    border: none;
}
.path1 {
    background:#E7EEF1;
}
#page2 {
    background: #E7EEF1;
    margin-top: -10px;
    box-sizing: border-box;
    padding: 120px 0;
}
.path1 {
    width: 100%;
}
.photo2-container, .photo3-container, .photo4-container, .contact-container {
    display: flex;
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
    gap: 2%;
    word-break: keep-all;
}
.photo2_div {
    width: 35%;
}
.photo2-wrap {
    width: 65%;
}
.photo2 {
    width: 100%;
}
.title {
    color: #111;
    font-family: 'OAGothic-Medium';
    font-size: 48px;
    font-style: normal;
    letter-spacing: -2.4px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.photo2_div>title {
    margin-bottom: 25px !important;
}
.photo2_detail {
    color: #111;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px; /* 188.889% */
    letter-spacing: -0.36px;
    text-transform: uppercase;
}
.list {
    margin: 30px 0;
}
.list li {
    display: flex;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    line-height: 40px; 
    letter-spacing: -0.4px;
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 10px;
}
.brown {
    color: white;
    width: 170px;
    padding: 4px 0px;
    text-align: center;
    font-weight: 700;
    border-radius: 30px;
    background: #555;
    margin-right: 10px;
}
.eco-div {
    display: flex;
    align-items: flex-start;
}
.eco {
    width: calc(100% - 180px);
}
#page3 {
    background: #E7EEF1;
}
.photo3-wrap {
    width: 50%;
}
.photo3 {
    width: 100%;
}
#page3 .title, #page4 .title {
    margin: 20px 0;
}
.photo3_div {
    width: 50%;
    margin-left: 70px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
}
.photo3_detail {
    color: #111;
    text-align: right;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px; 
    letter-spacing: -0.36px;
    text-transform: uppercase;
}
.clean-div {
    display: flex;
    align-items: flex-start;
}
.brown2 {
    color: white;
    width: 210px;
    padding: 4px 0px;
    border-radius: 30px;
    background: #555;
    text-align: center;
    margin-right: 10px;
    font-weight: 700;
}
.clean {
    width: calc(100% - 220px);
}
#page3 .btn {
    display: block;
    margin-left: auto;
}
#page4 {
    background: #E7EEF1;
    box-sizing: border-box;
    padding: 120px 0;
}
.photo4_div {
    width: 53%;
    margin-right: 70px;
}
.photo4-wrap {
    width: 47%;
}
.photo4 {
    width: 100%;
}
.photo4_detail {
    color: #111;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px; /* 188.889% */
    letter-spacing: -0.36px;
    text-transform: uppercase;
}
.rent {
    color: #555;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: -0.4px;
    text-transform: uppercase;
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.rent span {
    padding: 0 10px;
    border: 1px solid #C2C7D0;
}
#contact {
    background: url("../img/back.png");
    background-size: cover !important;
    background-position: top center !important;
    position: relative;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 120px 0;
}
.contact_div {
    width: 50%;
    font-family: Pretendard;
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-top: 40px;
}
.contact_div p{
    color: #CDF;
    font-family: 'OAGothic-ExtraBold';
    font-size: 48px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.contact_div p img {
    vertical-align: bottom;
    width: 60px;
    position: relative;
}
.logo2_div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.logo2 {
    width: 200px;
}
.contact-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.label {
    width: 10%;
    /* color: #FFF; */
    line-height: normal;
    letter-spacing: -0.32px;
    text-transform: uppercase;
}
.labels {
    width: 15%;
    text-align: center;
}
.input3 {
    width: 90%;
    display: flex;
}
 .chk-wrap {
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #6DA0FF;
    color: #6DA0FF;
    margin-right: 20px;
} 
.round {
    max-width: 50px;
    width: 30px;
    height: 30px;
    border: 1px solid #6DA0FF;
    border-radius: 40px;
    appearance: none;
    position: relative;
    cursor: pointer;
    margin-left: 30px;
}
.round:checked::before {
    content: "\2713";
    font-size: 150%;
    color: #ffffff;
    position: relative;
    margin-left: 3px;
}
.round:checked {
    background-color:  #6DA0FF;
    border-color: white;
}
.input {
    width: 30%;
}
.input2 {
    width: 45%;
}
.input-box {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 15px 10px;
    border: 1px solid #DDD;
    background: #FFF;
    color: #BBB;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
    text-transform: uppercase;
}
.input-box2 {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 15px 10px;
    border: 1px solid #DDD;
    background: #FFF;
    color: #BBB;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
    text-transform: uppercase;
}
.input-box3 {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 15px 10px;
    border: 1px solid #DDD;
    background: #FFF;
    color: #BBB;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
    text-transform: uppercase;
}
.inputs {
    width: 90%; 
}
.inputs textarea {
    display: flex;
    width: 100%;
    padding: 15px 10px;
    align-items: center;
    resize: none;
    border: 1px solid #DDD;
    background: #FFF;
}
.agree-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #DDD;
}
.square {
    max-width: 800px;
    width: 30px;
    height: 30px;
    border: 1px solid #DDD;
    appearance: none;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
}
.square:checked::before {
    content: "\2713";
    font-size: 150%;
    color: #ffffff;
    position: relative;
    margin-left: 3px;
}
label {
    vertical-align: middle;
    cursor: pointer;
}
.agree-wrap  span{
    color: #3E7FFF;
    text-decoration-line: underline !important;
    position: relative;
    margin-top: 4px;
    cursor: pointer;
}
#contact .btn {
    float: right;
}
.mo_br {
    display: none !important;
}
.agree-modal {
    display: none;
    position: fixed;
    max-width: 600px;
    width: 90%;
    z-index: 15;
    top: 20%;
    left: calc(50% - 300px);
    border-radius: 15px;
    background: #fff;
    font-family: Pretendard;
    box-sizing: border-box;
    text-align: center;
}
.agree-modal div {
    font-size: 20px;
    color: black;
}
.agree-modal .head {
    border-bottom: 1px solid #dee2e6;
    padding: 2rem 2rem;
}
.agree-modal .txt {
    padding: 2rem 2rem;
}
.modal-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    z-index: 13;
    display: none;
}
@media (max-width:1920px) {
    eclips1 {
        right: 80px;
    }
}
@media (max-width: 1540px) {
    .eclipse1 {
        right: 0;
    }
    .eclipse2 {
        left: -100px;
    }
    .water-div {
        margin-top: 210px;
    }   
    .photo3_div {
        align-items: flex-start;
    }
    .photo3_detail {
        text-align: left;
    }
    .photo2_div{
        width: 50%;
    }
    .photo2-wrap {
        width: 50%;
    }
}
@media (max-width: 1024px) {
    .eclipse1 {
        width: 30%;
        right: -80px;
    }
    .eclipse2 {
        width: 40%;
        bottom: -90px;
    }
    .middle-div {
        flex-wrap: wrap;
        gap: 40px;
        top: 200px;
        margin-bottom: 300px;
    }
    .photo3-container, .photo4-container {
        flex-wrap: wrap;
        gap: 40px;
    }
    .contact-container {
        flex-wrap: wrap;
        gap: 120px;
    }
    .photo2-container, .photo4-container {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        gap: 40px;
    }
    .photo1-div, .water-div, .photo2_div, .photo2-wrap, .photo3-wrap, .photo3_div, .photo4_div, .photo4-wrap, .logo2_div, .contact_div {
        width: 100%;
        margin: 0 auto;
    }
    .contact-container {
        flex-direction: column-reverse;
    }
    .photo3_div {
        align-items: flex-start;
    }
    #page3 .btn, .btn2 {
        display: block;
        margin-left: auto;
    }
    .contact_div p {
        text-align: center;
    }
}
@media(max-width:768px) {
    .eclipse1 {
        top: 70px;
        width: 30%;
    }
    .eclipse2 {
        width: 50%;
        bottom: -70px;
        left: -50px;
    }
    .pg1-background {
        background: #5A93FD;
        width: 95%;
        margin: 0 auto;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn, .btn2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .photo3_detail {
        text-align: left; 
        font-size: 22px;
    }
    .list li{
        font-size: 22px; 
    }
    .btn img {
        width: 20px;
    }
    .btn {
        padding: 15px 60px;
        font-size: 23px;
        font-weight: 800;
    }
    .btn2 {
        padding: 15px 60px;
        font-size: 23px;
        font-weight: 800;
        justify-content: center;
    }
    .gnb-opacity {
        background: transparent !important;
    }
    .strong {
        font-size: 40px;
    }
    .photo1_detail {
        font-size: 17px;
    }
    .title {
        font-size:32px;
    }
    .photo2_detail, .photo3_detail, .photo4_detail,  .rent {
        font-size: 17px;
    }
    .list li{
        font-size: 17px; 
        padding: 5px;
    }
    .brown {
        width: 135px;
    }
    .eco {
        line-height: 30px;
        width: calc(100% - 150px);
    }
    .mo_br {
        display: block !important;
    }
    .brown2 {
        width: 130px;
    }
    .clean {
        width: calc(100% - 140px);
    }
}
@media(max-width:480px) {
    .eclipse1 {
        width: 40%;
        top: 90px;
        right: -35px;
    }
    .eclipse2 {
        width: 60%;
        bottom: 10px;
        left: -35px;
    }
    .main-photo-div {
        margin-top: 80px;
    }
    .middle-div {
        top: 130px;
        margin-bottom: 200px;
    }
    .strong {
        font-size: 40px;
    }
    .photo1_detail {
        font-size: 15px;
    }
    .title {
        font-size:30px;
    }
    .photo2_detail, .photo3_detail, .photo4_detail,  .rent {
        font-size: 16px;
    }
    .list li{
        font-size: 15px; 
        line-height: 25px;
    }
    .btn {
        padding: 10px 50px;
        font-size: 20px;
    }
    .btn img {
        width: 21px;
    }
    #page3 .btn {
        padding: 10px 50px;
        font-size: 20px;
        font-weight: 800;
    }
    #contact .btn {
        padding: 10px 30px;
    }
    .btn2 {
        padding: 10px 50px;
        font-size: 20px;
        font-weight: 800;
    }
    .brown {
        width: 120px;
        font-size: 15px;
        border-radius: 15px;
    }
    .brown2 {
        font-size: 15px;
        border-radius: 15px;
    }
    .eco {
        width: calc(100% - 130px);
    }
    #page3 .brown2:first-child {
        width: 100px;
    }
    #page3 .brown2:last-child {
        width: 130px;
    }
    .clean {
        width: calc(100% - 140px);
    }
    .clean:last-child {
        position: relative;
        margin-top: 5px;
    }
    .round {
        margin-left: 20px;
    }
    .contact_div .contact-wrap:nth-child(3) {
        display: flex;
        flex-wrap: wrap;
        gap: 20px 0;
    }
    .contact_div .contact-wrap:nth-child(3) div:nth-child(2) {
        gap: 10px;
    }
    .chk-wrap:last-child {
        margin-right: 0;
    }
    .chk-wrap {
        width: 48.5%;
    }
    .label {
        width: 15%;
    }
    .labels {
        text-align: start;
    }
    .input, .input2, .input3, .inputs {
        width: 85%;
    }
    .contact-container {
        gap: 70px;
    }
    .logo2 {
        width: 40%;
    }
    
    .agree-modal {
        width: 300px;
        margin: 0 auto;
        left: calc(50% - 150px);
    }
    .agree-modal div{
        font-size: 15px;
    }
    .contact_div p {
        font-size: 40px;
    }
    .contact_div p img {
        width: 45px;
    }
    .input-box, .input-box2, .input-box3 {
        font-size: 14px;
    }
}
